<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blogpage</title>
    <meta name="Blogpage" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" type="text/css" href="/login0.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">   
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="/client.js" defer></script>
  </head>
    <body>
      <div class="container">
      	<div class="logoBox item">
      		<span class="logo">
      			<strong>Welcome</strong>
      		</span>
      	</div>
      	<form class="item">
      		<span>			
      			<input type="text" placeholder="Username" autocomplete="off" required>
      		</span>
      		<span>			
      			<input type="password" placeholder="Password" required>
      		</span>
      		<input class="loginBtn" type="submit" value="LOGIN">
      	</form>
      	<div class="footer item">
      		<span class="foot">
      			Don't have an account? 
      			<a href="#">Sign Up</a>	
      		</span>		
      	</div>
      </div>
    </body>
</html>